body {
  background-image: url("https://static.pexels.com/photos/137141/pexels-photo-137141.jpeg");
  background-position: center;
  background-size: contain;
  font-family: 'Abel', sans-serif;
  font-size: 32px;
}

.jumbotron {
  background-color: rgba(255, 0, 0, 0.5);
}

.white {
  color: white !important;
}

.columns {
  width: 45%;
  height: 450px;
  float: left;
}

.columns:hover{
  background-color: #FF4944;
}

.columns2 {
  width: 45%;
  height: 450px;
  float: left;
  background-color: #FF4944;
}

.sidebar {
  width: 35%;
  float: right;
  background-color: #FF4944;
  margin-left: 10px;
}

.sidebar:hover{
  background-color: blue;
}

h1, h2, h3 {
  font-family: 'Permanent Marker', san-serif;
  color: white;
}

.black {
  background-color: rgba(0,0,0,0.5);
}

.p-size {
  font-size: 0.6em;
}

img {
  width: 100%;
  margin-left: 2%;
  border: 2px solid green;
  padding: 4px;
}

img:hover{
  display:
}
